export TOP_HEAD="$(cd -- "$(dirname -- "${BASH_SOURCE[0]}")" >/dev/null 2>&1 && pwd)"

unset GITHUB_TOKEN

export_alias _r "cd $TOP_HEAD && make run; cd -"
export_alias _t "cd $TOP_HEAD && make test; cd -"
